@font-face {
  font-family: 'GamesaTestFont';
  src: url('https://github.com/MimrpimStudios/MimrpimStudios.github.io/raw/refs/heads/main/Assets/GamesaTestFont.ttf') format('truetype');
  font-display: swap;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'GamesaTestFont', sans-serif;
  text-align: center;
}

a, a:link {
  color: DeepSkyBlue;
}

a:visited {
  color: DodgerBlue;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: pink;
  color: black;
}

.topnav a.active {
  background-color: hotpink;
  color: black;
}
