.newsbox {
    position: relative;
    border: 5px solid #ccc;
    box-shadow: 20px 20px 5px rgb(44, 44, 44);
    text-align: left;
    padding: 50px;
    width: 50%;
    max-width: 800px;
    margin: 30px auto; /* 30px mezeruje jednotlivé boxy od sebe */
}

.newsbox h2 {
    text-align: center;
    margin-top: 0; /* Odstraní horní mezeru nadpisu */
}

.news-id {
    position: absolute;
    top: 15px;
    right: 25px;
    margin: 0;
    font-size: small;
    color: gray;
}

.news-date {
    position: absolute;
    top: 15px;
    left: 25px;
    margin: 0;
    font-size: small;
    color: gray;
}